# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/

# Data and Notebooks
*.csv
*.xlsx
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/
.DS_Store
