# Entornos virtuales (el más importante)
.venv/
venv/
env/
ENV/

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / Empaquetamiento
dist/
build/
*.egg-info/

# Configuraciones de editores (VS Code / PyCharm)
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
